<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Next Word Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>Sentence <span>Auto</span> Completer</h1>
        <form method="post" action="/" class="form">
            <div class="input-section">
                <label for="input_sentence">Input:</label><br>
                <div style="position: relative;">
                    <textarea id="autocomplete" type="text" class="vc_textarea" readonly></textarea>
                    <textarea id="mainInput" type="text" name="comments" placeholder="Write some text"
                        class="vc_textarea"></textarea>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
