<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Next Word Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</head>

<body>
    <div class="container">
        <h1>Sentence Auto Completer</h1>
        <form method="post" action="/" class="form">
            <div class="input-section">
                <label for="input_sentence">Input:</label><br>
                <textarea id="autocomplete" type="text" class="vc_textarea"></textarea>
                <textarea id="mainInput" type="text" name="comments" placeholder="Write some text"
                    class="vc_textarea"></textarea>
            </div>
            <!-- <input type="submit" value="Predict" class="btn">
            <div class="output-section">
                <label for="output_sentence">Output:</label><br>
                <textarea id="output_sentence" name="output_sentence" rows="4" cols="50"
                    readonly>{{ output or '' }}</textarea> -->
            </div>
        </form>
        </div>

</body>

</html>